.col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  /* header */
  header {
    display: flex;
    justify-content: center;
  }
  .header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(51, 51, 51);
  }
  .header__navbar {
    background-color: rgb(241, 241, 241);
  }
  .header__navbar ul {
    display: flex;
    justify-content: center;
  }
  .header__navbar ul li {
    padding: 10px 20px;
  }
  /* main */
  .section__header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }
  
  .section__header-title p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* section__list */
  .section__list {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  .section__list h2 {
    text-align: center;
  }
  .section__list-one {
    width: 80%;
  }
  .list__card {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  /* card */
  .card {
    border: 1px solid black;
    width: 20%;
  }
  .card img {
    width: 100%;
  }
  .card p {
    text-align: center;
    padding: 10px;
  }
  /* section__content */
  
  .section__content {
    text-align: center;
    margin-top: 40px;
  }
  .section__content-p {
    display: flex;
    justify-content: center;
  }
  .section__content-p p {
    width: 90%;
  }
  /* footer */
  footer {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer div {
    width: 80%;
    height: 50px;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
  }