table , td{
   border: none;
}
@media only screen and (max-width:600px) {
   table ,td {
      background-color: brown;
      display: flex;
      flex-direction: column;
      
   }
   img{
      display: block;
   }
}