h1 {
    text-align: center;
    color: white;
}
p {
    text-align: center;


}
.h2 {
    width: 27%;
  text-align: center;
  color: white;
  margin: auto;    
}
div {
    background: url(../../../audio/ảnh/co-be-lo-lem.jpg);

}
  