.card {
    border: 1px solid black;
    width: 200px;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .card-content {
    padding: 10px;
  }
  h2 {
    margin: 0;
  }
  span {
    display: block;
    margin-top: 10px;
  }
  button {
    padding: 5px 10px;
    background-color:cornflowerblue;
    color: white;
  }
  td {
    margin-top: 20px;
  }
  footer{
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    
  }
footer>span{
  padding-top: 30px;

}
img {
    width: 130px;
}